<table class="table_pos" width="50%" height="100%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <a href="page/1"><img src="engine/tpl/img/0_news.png" alt="News" onMouseOver="change(this, 1, 1)" onMouseOut="change(this, 1, 0)"></a>
      </td>
      <td align="center">
        <a href="/full-page/2-0"><img src="engine/tpl/img/0_info.png" alt="About us" onMouseOver="change(this, 2, 1)" onMouseOut="change(this, 2, 0)"></a>
      </td>
      <td align="center">
        <a href="page/3"><img src="engine/tpl/img/0_soft.png" alt="Our production" onMouseOver="change(this, 3, 1)" onMouseOut="change(this, 3, 0)"></a>
      </td>
    </tr>
</table>
<div align="center" class="foot">
    <img src="engine/tpl/img/foot.png">
</div>  