<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta name="keywords" content="inlife, software, php, develstudio, create, web">
    <meta name="description" content="Inlife Software - Web and computer program development studio working with php">
    <meta name="google-site-verification" content="PF4FH3e4kOZuO0JGJNJxqBKUlRDgTC4MhdQssFoYmf8" />
    <meta property="fb:admins" content="100000470641337"/>
    <meta property="fb:app_id" content="202392189795656">   
    <link href="http://inlife.no-ip.org/engine/tpl/style.css" rel="stylesheet" type="text/css">
    <title>{TITLE}</title>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?24"></script>
    <script type="text/javascript">
      VK.init({apiId: 2259479, onlyWidgets: true});
      function change(img, pic, mode) {
        if (pic == 1) {
		  name = "news";
		}else if(pic == 2) {
		  name = "info";
		}else if(pic == 3) {
		  name = "soft";
		}
		img.src = "engine/tpl/img/"+mode+"_"+name+".png";
      }
    </script>
  </head>
  <body>
  <div align="center" class="head">
    <a href="/"><img src="http://inlife.no-ip.org/engine/tpl/img/head.png"></a>
  </div>
    {CONTENT}
  </body>
</html>